<footer>Copyright 2023 Alin Lechintan
    <div class="contacts">
       
            <a href="https://www.linkedin.com/in/alin-lechintan-2582b181/">
            <img src="/linkedin.svg" alt="LinkedIn"/>
            </a>
      
            <a href="https://github.com/lechinal">
            <img src="/github.svg" alt="GitHub"/>
            </a>
        
    </div>
    
</footer>
</body>
</html>
