<%- include('partials/header'); -%>

<header>
  <div class="fullstack">
    <img src="/full-stack-developer-icon.svg" alt="" />
  </div>
  <div class="headings">
    <h2>FullStack Road</h2>

    <h3>By Alin Lechintan</h3>

    <a href="/paths" class="btn">View Road</a>
    <a href="/next-paths" class="btn">Next Paths</a>
  </div>
</header>

<%- include('partials/footer'); -%>
