<%- include('partials/header'); -%>
<ul class="languages">
  <li class="language">
    <img src="/typeScript-made.svg" alt="TypeScript" />
    <h4>TypeScript</h4>
    <p>
      <mark>TypeScript</mark> este un limbaj de programare cu tipuri statice
      care se bazează pe JavaScript. A fost dezvoltat de Microsoft și adaugă
      concepte de tipizare statică la JavaScript, facilitând dezvoltatorilor
      identificarea și prevenirea erorilor în timpul fazei de dezvoltare.
      TypeScript compilează în JavaScript standard, astfel încât poate fi rulat
      pe orice mediu care acceptă JavaScript. Această adăugare a tipurilor aduce
      beneficii semnificative, cum ar fi creșterea clarității și a robusteței
      codului, precum și oferirea unei experiențe de programare mai bogate în
      funcționalități.
    </p>
  </li>
  <li class="language">
    <img src="/nextjs-made.svg" alt="Next.js" />
    <h4>Next.js</h4>
    <p>
      <mark>Next.js</mark> este un framework React specializat pentru
      dezvoltarea rapidă a aplicațiilor web, oferind funcționalități precum
      server-side rendering (SSR), generare de pagini statice și un sistem
      eficient de rutare. Este proiectat pentru a simplifica construirea
      aplicațiilor React, oferind un mediu de dezvoltare modern și eficient.
    </p>
  </li>
</ul>

<%- include('partials/footer'); -%>
