<%- include('partials/header'); -%>

<ul class="languages">
  <li class="language">
    <img src="/htmlCss.svg" alt="HTML+CSS" />
    <h4>HTML+CSS</h4>
    <p>
      <mark>HTML</mark> (HyperText Markup Language): Folosit pentru structurarea
      conținutului web, HTML oferă fundația semantică a paginilor, definind
      elementele precum titluri, paragrafe și imagini.
      <mark>CSS</mark> (Cascading Style Sheets): Responsabil pentru prezentarea
      vizuală a paginilor web, <strong>CSS</strong> adaugă stil și design,
      controlând aspectul, culorile și aspectul general al elementelor
      <strong>HTML</strong>.
    </p>
  </li>
  <li class="language">
    <img src="/js.svg" alt="JavaScript" />
    <h4>JavaScript</h4>
    <p>
      Limbajul de programare al web-ului, <mark>JavaScript</mark> adaugă
      interactivitate și dinamică paginilor. Folosit atât în front-end cât și în
      back-end, este esențial pentru crearea experiențelor web interactive.
    </p>
  </li>
  <li class="language">
    <img src="/react.svg" alt="React.js" />
    <h4>React.js</h4>
    <p>
      O bibliotecă JavaScript pentru construirea interfețelor utilizator,
      <mark>React.js</mark> simplifică gestionarea stării aplicației și
      re-renderea eficientă a componentelor. Este popular pentru crearea
      interfețelor reactive și spațiilor de lucru single-page.
    </p>
  </li>
  <li class="language">
    <img src="/node.svg" alt="Node.js" />
    <h4>Node.js</h4>
    <p>
      O platformă de server construită pe motorul JavaScript V8,
      <mark>Node.js</mark> permite executarea codului JavaScript în afara
      browserului. Folosit în principal pentru construirea serverelor web,
      <strong>Node.j</strong>s facilitează dezvoltarea aplicațiilor back-end
      eficiente și scalabile.
    </p>
  </li>
  <li class="language">
    <img src="/fullStack.svg" alt="Maestru FullStack" />
    <h4>Maestru FullStack</h4>
    <p>
      Crearea completă a unei aplicații web, de la aspectul vizual și interactiv
      (front-end) până la gestionarea datelor și logica aplicației (back-end).
      Dezvoltatorii full-stack stăpânesc întregul spectru, asigurând o
      experiență web fluidă și integrată.
    </p>
  </li>
</ul>

<%- include('partials/footer'); -%>
